/* this is used for the end score chart */
.highScoreChart {
	text-align:left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#end {
	display: none;
	background-color: #ffcb05;
	border-width:20px;
	border-style:solid;
	border-color:#2a75bb;
	border-radius: 25px;
	color: black;
	width: 50%;
	font-size: 3em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}