/* this is the style for the game aspect */
.hole {
	max-width: 30%;
}

.gameStats {
	visibility: hidden;
}

.countDown {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.countDown > img {
	display: none;
	width: 400px;
}