 /* this is the overarching style sheet that affects everything */
 body {
	background-image: url("../images/grass.png");
	color: red;
	font-weight: bold;
	overflow: hidden;
	max-width: 1100px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}